body{
  padding: 25px;
  background-image: linear-gradient(to right, #fa5, #ffd700);
}
.title {
	font-size: 40px;
	text-align: center;
	color: gray;
	
}
.image {
  display: block;
  margin: 0 auto;
  width:200px;
  height: auto;
  transition: 0.5s;
  border-radius: 15px;
}
.image:hover {
  width: 190px;
  height: auto;
  transition: 1s;
}
.image:active {
  width:205px;
  height: auto;
  transition: 0.5s;
}
.type { 
  text-align: center;
  color: #FFFDD0;
}
.num {
  text-align: center;
  font-size: 50px;
  color: #FFFDD0;
}
